extends common/layout
block layout-content 
  .main-content 
    div#banner
      .banner-text A unique experience!
    div#brands
      <img src="/images/logoCosmopolitan.png", alt="cosmopolitan">
      <img src="/images/logoElle.png", alt="elle">
      <img src="/images/logoForbes.png", alt="forbes">
      <img src="/images/logoMarieclaire.png", alt="marieclaire">
      <img src="/images/logoVogue.png", alt="vogue">
    h1.page-title Best Sellers
    div#bestsellers
      a(href="#") 
        .box-bestSellers
          .box-sell(style="background-image: url('/images/bestAnklet.png');")
          .box-bestName Sunrise Anklet
      a(href="#") 
        .box-bestSellers
          .box-sell(style="background-image: url('/images/bestEarring.png');")
          .box-bestName Buttlerfly Earrings
      a(href="#") 
        .box-bestSellers
          .box-sell(style="background-image: url('/images/bestRing.png');")
          .box-bestName IgotYou Ring
      a(href="#") 
        .box-bestSellers
          .box-sell(style="background-image: url('/images/bestNecklace.png');")
          .box-bestName LoveMeMuch Necklace
    div#reviews
      .boxRTitle More than 300.000 pleased customers 
      .boxRList
        .boxReviews
          .box-rank <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
          .boxReview "I recently purchased a statement necklace from this brand, and I couldn't be happier with my choice! The design is bold yet elegant, making it the perfect piece to elevate any outfit. I've received so many compliments every time I wear it. Highly recommend!"
          .boxAuthor Jenny
        .boxReviews
          .box-rank <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
          .boxReview "Their collection is a testament to exquisite craftsmanship and attention to detail. I bought a pair of vintage-inspired earrings, and they are simply stunning. Definitely a place to check out for unique and beautiful pieces!"
          .boxAuthor Christina
        .boxReviews
          .box-rank <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> 
          .boxReview "I bought a delicate bracelet from this store, and it's become one of my favorite pieces. What I love most is that it holds sentimental value, as it was a gift from a dear friend. It's lightweight and comfortable to wear, making it perfect for everyday use."
          .boxAuthor Sarah
        .boxReviews
          .box-rank <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> 
          .boxReview "I ordered a custom-made ring, and the final product exceeded my expectations. The design process was smooth, and the team was incredibly helpful, ensuring every detail was perfect. I’m thrilled with my purchase and will definitely be a returning customer"
          .boxAuthor Jazmine
    div#categories
      .box-category(style="background-image: url('/images/catEarrings.jpg');")
        .box-catName 
          a(href="#") Earrings
      .box-category(style="background-image: url('/images/catNecklaces.jpg');")
        .box-catName
          a(href="#") Necklaces
      .box-category(style="background-image: url('/images/catRings.jpg');")
        .box-catName
          a(href="#") Rings
      .box-category(style="background-image: url('/images/catAnklets.jpg');")
        .box-catName
          a(href="#") Anklets
    div#materials
      .boxCount GENUINE PEARLS 
      .boxCount 18K GOLD PLATED
      .boxCount AUTHENTIC DIAMONDS
      .boxCount 100% LIFETIME WARRANTY
    div#quote
      .box-text
        p <b>BellaMia</b> was created for <i>providing high-quality waterproof jewelry that is affordable and designed for everyday wear.</i> 
        p Whether you're in the shower, at the gym, or anywhere in between, our pieces are crafted to never fade. Each item comes with a lifetime color warranty, ensuring longevity from your first purchase onwards.
        p I'm thrilled to share that we now have over 300,000 happy customers in the <b>BellaMia family</b>. Your support throughout our journey means the world to us!
        p.box-author <b>Lily</b> - Founder of BellaMia