footer#footer
    div#linksFooter
        .linksColumn 
            .title ABOUT US
            .directory
                a(href="#") Our company 
                a(href="#") Lifetime Color Warranty
                a(href="#") Collaborations
                a(href="#") Blogs
        .linksColumn 
            .title HELP
            .directory
                a(href="#") FAQs
                a(href="#") Contact Us
                a(href="#") Track Your Order
                a(href="#") Returns and Exchanges
        .linksColumn 
            .title SHOP
            .directory
                a(href="#") Rings
                a(href="#") Necklaces
                a(href="#") Bracalets
                a(href="#") Earrings
        .linksInfo 
            .title BELLAMIA 
            .text-content We make waterproof Jewerly with Lifetime Color Warranty. We offer Free Shipping Worldwide and support 24/7. 
    div#social-networks Our Social Networks
        a(href="#" title="Instagram") <i class="fa-brands fa-instagram"></i>
        a(href="#" title="TikTok") <i class="fa-brands fa-tiktok"></i>
    .credits &copy; Copyright BellaMia, 2024. All rights reserved.