header#header
    div#announcement
        .div Lifetime Color Warranty 
        .div Free Shipping Worldwide 
        .div More than 300.000 Happy Customers
    nav(arial-label = "Main Navegation")
      div#logo 
        a(href="/") BellaMia 
      div#links
          li 
            a(href="#") New merch
          li
            a(href="/shop") Shop
          li
            a(href="#") Collections
          li
            a(href="#") On Sale
          li
            a(href="#") Gifts
          li
            a(href="/faq") FAQ
          li
            a(href="#") About
